@{
    ViewBag.Title = "HTTP500";
}

<h2 class="action-panel">HTTP Error 500 - Internal Server Error</h2>

<div class="manage-link">
    &rsaquo; @Html.ActionLink("Back to home page", "Index", "Home")
</div>