@{
    ViewBag.Title = "HTTP413";
}

<h2 class="action-panel">HTTP Error 413 - Request Entity Too Large</h2>

<div class="manage-link">
    &rsaquo; @Html.ActionLink("Back to home page", "Index", "Home")
</div>