@{
    ViewBag.Title = "HTTP404";
}

<h2 class="action-panel">HTTP Error 404 - Page not found</h2>

<div class="manage-link">
    &rsaquo; @Html.ActionLink("Back to home page", "Index", "Home")
</div>